altair
attrs
beautifulsoup4
blinker
cachetools
certifi
charset-normalizer
click
contourpy
cycler
docopt
entrypoints
Faker
favicon
fonttools
gitdb
idna
importlib-metadata
Jinja2
jsonschema
jsonschema-specifications
kiwisolver
lxml
Markdown
markdown-it-py
markdownlit
MarkupSafe
matplotlib
mdurl
more-itertools
numpy
packaging
pandas
Pillow
pipreqs
protobuf
pyarrow
pydeck
Pygments
pymdown-extensions
pyparsing
python-dateutil
pytz
PyYAML
referencing
requests
rich
six
smmap
soupsieve
st-annotated-text
streamlit
streamlit-camera-input-live
streamlit-embedcode
streamlit-extras
streamlit-faker
streamlit-image-coordinates
streamlit-keyup
streamlit-toggle-switch
streamlit-vertical-slider
tenacity
toml
toolz
tornado
typing_extensions
tzdata
tzlocal
urllib3
validators
watchdog
yarg
zipp